* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'Work Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.container {
    width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

#header {
    padding: 40px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(20px);
}

.header-logo h1 {
padding: 20px 30px;
    background: #A53DFF;
    border-radius: 100%;
    font-weight: 600;
    font-size: 32px;
    color: #132238;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: header 2s alternate;
}
@keyframes header {
0%{
    transform: translateY(-1000px);
}
}


.header-logo{
    display: flex;
    align-items: center;
}
.header-logo h1{
    transition: .4s;
    cursor: pointer;
    animation: header-logo-h1 2s alternate linear;

}
@keyframes header-logo-h1 {
    0%{
        transform: rotate(360deg);
    }
}
.header-logo h1:hover{
    transform: scale(1.1);
    background: blanchedalmond;
}
.header-logo h2{
    padding-left: 16px;
    cursor: pointer;
    transition: .4s;
}
.header-logo h2:hover{
    transform: scale(1.1);
    color: #132238;
}
.header nav a{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    padding: 0 20px;
    transition: .4s;
}
.header nav a:hover{
    transform: scale(1.1);
    color: lightslategrey;
}
.header nav button{
    padding: 12px 24px ;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    background: #A53DFF;
    border-radius: 4px;
    transition: .4s;
    border: 1px solid lightslategrey;
}
.header nav button:hover{
    transform: scale(1.1);
    color: lightslategrey;
    background: transparent;
    border: 1px solid lightslategrey;
}
#hello{
    padding: 40px 0;
}
.hello h1{
    font-weight: 600;
    font-size: 72px;
    line-height: 84px;
    color: #132238;
    animation: hello-h1 3s alternate ;
}
@keyframes hello-h1 {
    0%{
        transform: translateX(-1000px);
    }
}
.hello p{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #556070;
    width: 648px;
    height: 72px;
    padding: 24px 0;
    animation: hello-p 4s alternate;
}
@keyframes hello-p {
    0%{
        transform: translateX(-1000px);
    }

}
.hello button{
    padding: 12px 24px;
    background: #A53DFF;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 100px;
    transition: .4s;
    animation: hello-btn 5s alternate;
}
@keyframes hello-btn {
    0%{
        transform: translateX(-1000px);
    }

}
.hello button:hover{
    transform: scale(1.1);
    background: transparent;
    border: 1px solid gray;
    color: #A53DFF;
}
.cards{
    display: flex;
    animation: cards 5.7s alternate;
}
@keyframes cards {
    0%{
        transform: translateX(-1000px);
    }

}
.card-block-one{
cursor: pointer;
    background: rgba(237, 216, 255, 0.5);
    border-radius: 6px;
    height: 106px;
    width: 248px;
transition: .4s;
    border: 1px solid gray;
    margin-left: 2px;
}
.card-block-one:hover{
    transform: scale(1.1);
    background: transparent;
    border: 1px solid gray;
}
.card-block-one h3{
text-align: center;
margin-top: 10px;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #424E60;
}
.card-block-one h4{
text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #697484;
    margin-top: 8px;
}
.hello{
display: flex;
    justify-content: space-between;
    align-items: center;
}
.hello img{
    margin-left: 40px;
    height: 636px;
    width: 536px;
    border-radius: 25px;
    animation: hello-img 6s alternate;
    /*box-shadow: 0 24px 116px rgba(43, 56, 76, 0.09);*/
}

@keyframes hello-img {
    0%{
        transform: scale(0.1);

    }
}
#developer{
    margin: 0 auto;
    height: 728px;
    width: 1320px;
    padding: 40px 0;
    background: #FFFFFF;
    box-shadow: 0 36px 105px rgba(43, 56, 76, 0.1);
    border-radius: 16px;
}
#developer{
    margin: 222px 0;
}
.developer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.developer-img img{
    height: 636px;
    width: 536px;
    border-radius: 10px;
}
.developer-img div a{
    height: 72px;
    width: 264px;
    left: 192px;
    top: 544px;
    padding: 34px;
font-size: 30px;
    background: #FFFFFF;
    box-shadow: 0 12px 64px rgba(28, 25, 25, 0.12);
    border-radius: 4px;
    margin: 0 88px;
}
.developer-text h1{
    font-weight: 600;
    font-size: 38px;
    color: #132238;
    height: 100px;
    width: 536px;
}
.developer-text p{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #87909D;
    height: 72px;
    width: 536px;
padding: 36px 0 16px 0;
}
.developer-text div button{
    padding: 12px 24px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    background: #A53DFF;
    border-radius: 4px;
    transition: .4s;
    border: 1px solid #424E60;
}
.developer-text div button:hover{
    background: transparent;
    color: #A53DFF;
    transform: scale(1.1);
    border: 1px solid #424E60;
}
.developer-text div button a{
    color: #FFFFFF;
    height: 20px;
    width: 20px;
    left: 2px;
    top: 2px;
    border-radius: 0;

}
.developer-text div button a:hover{
    color: #A53DFF;
}
/*process*/
#process{
padding: 40px 0;
}
.process{
  display: flex;
    justify-content: space-between;

}
.process h1{
    font-weight: 600;
    font-size: 48px;
    color: #132238;
    text-align: center;

}
.process p{
    height: 96px;
    width: 529px;
    padding: 24px 0 16px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #697484;
}
.process-gen{
    display: flex;
    justify-content: space-evenly;

    }
.process-block{

    cursor: pointer;
    transition: .4s;
    background: #FFFFFF;
    box-shadow: 32px 32px 124px rgba(43, 56, 76, 0.1);
    border-radius: 12px;
    height: 276px;
    width: 312px;
    left: 672px;
    padding: 32px;
    margin-left: 30px;

}
.process-block:hover{
    transform: translateY(-100px);
}
.process-block a{

    border-radius: 6px;
    padding: 22px 24px;
    background: rgba(237, 216, 255, 0.5);
    font-size: 28px;
    transition: .4s;
}
.process-block a:hover{
    background: #A53DFF;
}
.process-block h2{
    font-weight: 600;
    font-size: 20px;
    color: #132238;
    padding: 32px 0 16px 0;
}
.process-block h3{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    height: 72px;
    width: 248px;
}
/*portfolio*/
#portfolio{
    padding:40px 0;
}
.portfolio h1{
    font-weight: 600;
    font-size: 48px;
    color: #132238;
    padding: 24px 0;
    width: 577px;
    height: 48px;
}
.portfolio p{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #87909D;
    width: 577px;
    height: 48px;
    margin-bottom: 50px ;
}
.portfolio-gen{

}
.portfolio-gen-block{
    display: flex;
    justify-content: space-around;
    padding-left: 24px;
    margin: 0 auto;
}
.portfolio-block{
    cursor: pointer;
    /*width: 424px;*/
    height: 500px;
    background: #FFFFFF;
    border: 1px solid #E6E8EB;
    box-shadow: 0 12px 64px rgba(28, 25, 25, 0.12);
    border-radius: 8px;
    text-align: center;
margin: 0 15px 15px 15px;
}
.portfolio-block h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    color: #87909D;
    padding: 32px 0 0 0;
    transition: .4s;
}
.portfolio-block h3:hover{
 color: gray;

}
.portfolio-block p{
    width: 360px;
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #556070;
    padding:0 0 30px 0 ;
    margin: 0 auto;
    transition: .4s;
}
.portfolio-block p:hover{
    color: darkgray;
}
.portfolio-block h2{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #132238;
        padding: 4px 0 12px 0 ;
    transition: .4s;
}
.portfolio-block h2:hover{
    color: #a9cada;

}
.portfolio-block button{
    padding: 12px 60px 12px 24px;
    background: #A53DFF;
    color: #FFFFFF;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    transition: .4s;
}
.portfolio-block button:hover{
    transform: scale(1.1);
    background: transparent;
    border: 1px solid gray;
    color: #A53DFF;
}
.portfolio-block button a{
    padding-left: 18px;
    font-size: 20px;
    color: #FFFFFF;
}
.portfolio-block button a:hover{
    transform: scale(1.1);
    background: transparent;
    border: 1px solid gray;
    color: #A53DFF;
}


.portfolio-block-two{
    cursor: pointer;
    /*width: 424px;*/
    height: 500px;
    background: #FFFFFF;
    border: 1px solid #E6E8EB;
    box-shadow: 0 12px 64px rgba(28, 25, 25, 0.12);
    border-radius: 8px;
    text-align: center;
    margin: 0 15px 15px 15px;

}
.portfolio-block-two h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    color: #87909D;
    padding: 32px 0 0 0;
    transition: .4s;
}
.portfolio-block-two h3:hover{
 color: gray;

}
.portfolio-block-two p{
    width: 360px;
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #556070;
    padding:0 0 30px 0 ;
    margin: 0 auto;
    transition: .4s;
}
.portfolio-block-two p:hover{
    color: darkgray;
}
.portfolio-block-two h2{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #132238;
        padding: 4px 0 12px 0 ;
    transition: .4s;
}
.portfolio-block-two h2:hover{
    color: #a9cada;

}
.portfolio-block-two button{
    padding: 12px 60px 12px 24px;
    background: #A53DFF;
    color: #FFFFFF;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    transition: .4s;
}
.portfolio-block-two button:hover{
    transform: scale(1.1);
    background: transparent;
    border: 1px solid gray;
    color: #A53DFF;
}
.portfolio-block-two button a{
    padding-left: 18px;
    font-size: 20px;
    color: #FFFFFF;
}
.portfolio-block-two button a:hover{
    transform: scale(1.1);
    background: transparent;
    border: 1px solid gray;
    color: #A53DFF;
}



/*Blog*/
#blog{
    padding: 40px 0;
}
.blog h1{
    font-weight: 600;
    font-size: 48px;
    color: #132238;
    padding: 25px 0;
}
.blog p{
    font-weight: 400;
    font-size: 18px;
    color: #87909D;
    height: 52px;
    width: 540px;
    padding: 20px 0 70px 0;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
}

.swiper-slide img {
    display: block;
    /*width: 100%;*/
    /*height: 100%;*/
    object-fit: cover;
}

